*{
margin:0px ;
padding: 0px;
}
.test{

color: blueviolet;
cursor: url("");

}
.container{
display: flex;
justify-content:center;
align-items:center;

}
.box{
padding: 20px;
background-color: brown;
width: 110px ;

}
.box2{
    background-color: blueviolet;

}

.box3{
background-color: chocolate;

}